# env.js file
export const ENV = {
    GITLAB_TOKEN: "YOUR_GITLAB_TOKEN",
    GITLAB_PROJECT_ID: "YOUR_PROJECT_ID",
    GITLAB_BASE_URL: "https://gitlab.com/api/v4",

    GEMINI_API_KEY: "YOUR_GEMINI_API_KEY",

    GITLAB_USER_ID: 12345678,
    GITLAB_MILESTONE_ID: 12345678,

    GITLAB_DEFAULT_LABELS: [
        "SN3",
        "Bug",
        "Daruma v5.63",
        "Daruma v5.64",
        "Daruma v5.65",
        "develop-gov",
        "support/gov-202512",
        "support/gov-202509"
    ],

    GITLAB_SEVERITY: "severity::s3",

    GITLAB_ESTIMATE_HOURS: 4,

    // "production" or "dev"
    ENVIRONMENT: "dev",

    // Only used in production
    ALLOWED_DOMAIN: "soporte.tiqal.com"
};